@media (min-width: 1280px) {
  /* ROOT */
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  /* INTRO */
  .slogan {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 1080px) {
  /* ABOUT */
  .subtitle {
    font-size: 32px !important;
    line-height: 40px;
  }
  /* FOOD */
  .food__info h4 a{
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  /* INTRO */
  .slogan {
    font-size: 44px;
    line-height: 53px;
  }
  /* INFO */
  .info__thumb {
    min-height: 200px;
  }
}
@media (max-width: 880px) {
  /* INTRO */
  #intro {
    min-height: 600px;
    margin-top: 60px;
  }
}
@media (max-width: 800px) {
  /* INTRO */
  .slogan {
    font-size: 40px;
    line-height: 50px;
  }
  /* GALLERY */
  .gallery__text a h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .gallery__text h6{
    font-size: 16px;
  }
}

@media (max-width: 767px) {
}
@media (max-width: 600px) {
  .heading {
    font-size: 16px;
  }
  .subtitle {
    font-size: 30px !important;
    line-height: 38px;
  }
  .text {
    font-size: 16px;
    line-height: 26px;
  }
  /* NAV */
  .search {
    display: none;
  }
  /* INFO */

  .info__item__title {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  /* INTRO */
  #intro {
    min-height: 450px;
  }
  .slogan {
    font-size: 28px;
    line-height: 38px;
    margin-top: 100px;
  }
  .intro__text {
    padding-right: 10px;
  }
  .intro__btn {
    margin-top: 24px;
    padding: 10px 21px;
  }
  /* INFO */
  .subtitle {
    font-size: 26px !important;
    line-height: 36px;
  }
}
@media (max-width: 415px){
  /* FOOD */
  .food__item{
    padding: 30px;
  }
}
@media (max-width: 375px) {
  .heading {
    letter-spacing: 0.5px;
  }
  .subtitle {
    font-size: 24px !important;
    line-height: 34px;
  }
}
